<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>V-ACADEMY ONLINE LEARNING</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
     <p> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMgjieCYA0lbE-6zJcUTPUY68c_eKORetsYQ&usqp=CAU" width="1200" height="300"></p>
      
       
      <div class="page-title"><center><b>ACHIEVE YOUR GOALS USING V-ACADEMY</b></center></div>
      <div class="demo-container">
         <h2>About us</h2>
         <h3>Respect</h3>
         <p>Respect entails understanding the gifts and unique contributions of each individual and valuing diverse perspectives. 
          <p>  Respect for dignity and individual potential prompts V-Academy to welcome students and help them succeed in all their endeavours.</p>
         
         </p>
         <h3>Integrity</h3>
         <p>Integrity implies coherence between words and actions. </p>
           <p> We at V-Academy keenly promote the value of Integrity in order to achieve excellence.</p>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>